<% content_for :page_title, "New User" %>

<div class="row">
  <div class="col-md-6">
    <div class="card shadow-none">
      <div class="card-body">
        <%= render "form", user: @user %>
      </div>
    </div>
  </div>
</div>
